.nut-tabpane{
  margin: 20px 0;
  padding: 0 0 20px 0;
}
.form-container{
}
.input-class{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.suffix{
  font-size: 18px;
  color: black;
  text-align: right;
}

.button-group{
  margin: 0 20px;
}

.share {
  margin-top: 12px;
}

.duration{
  font-size: 18px;
  color: #000;
  text-align: right;
  margin-right: 50rpx;
  .text{
    font-weight: bold;
    margin-right: 10rpx;
  }
}

.part-title{
  text-align: center;
}
.LRPTips{
  margin: 20rpx 0;
  padding: 40rpx;
}
.tips{
  background:rgb(244,248,253) ;
  font-size: 20rpx;
  padding: 10rpx;
  color: black;
  .desc{
    margin-left: 5rpx;
  }
}
