
.card {
  background: linear-gradient(to bottom, #FF6B6B, #FF0000);
  color: white;
  padding:10px 20px;
  border-radius: 10px;
  text-align: center;
  width: 300px;
}

.desc{
  font-size: 25rpx;
}

.card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.monthly-payment {
  font-size: 18px;
  margin-bottom: 10px;
}

.amount-container {
  display: flex; /* 使用 Flexbox 布局 */
  align-items: center; /* 垂直方向上底部对齐 */
}
.amount {
  font-size: 48px;
}

.currency {
  font-size: 16px; /* 设置较小的字体大小 */
  margin-left: 4px; /* 添加左边距以增加间距（可选） */
}

.details {
  display: flex;
  justify-content: space-around;
  width: 100%;
  margin-top: 20px;
}

.detail-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.detail-item span {
  margin: 5px 0;
}

.share-button{
  margin: 30px 0;
}
