.nut-tabpane{
  margin: 20px 0;
  padding: 0 0 20px 0;
}
.form-container{
}
.input-class{
  font-size: 18px;
  font-weight: bold;
  color: #000;
}

.suffix{
  font-size: 18px;
  color: black;
  text-align: right;
}

.button-group{
  margin: 0 20px;
}

.share{
  margin-top: 12px;
}
